.GetJokesMenu {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.GetJokesMenu button {
  padding: 5px 8px;
  background-color: #eee;
  border: 1px solid #bbb;
  outline: none;
  cursor: pointer;
}
.GetJokesMenu button:active {
  transform: translate(1px, 1px);
}