.Button {
  padding: 5px 8px;
  background-color: #fafafa;
  border: 2px solid #777;
  cursor: pointer;
  outline: none;
  transition: 0.2s;
  color: #000;
}
.Button:hover {
  background-color: #ddd;
}
.Button:active {
  transform: scale(0.97);
}