.ToWatchList {
  border: 2px solid #333;
  padding: 10px;
}
.ToWatchList input {
  border: 2px solid #777;
  background-color: #fafafa;
  padding: 3px;
}

.ToWatchList-addMenu {
  display: flex;
}
.ToWatchList-addMenu > * {
  margin-right: 5px;
}
.ToWatchList-addMenu > *:last-child {
  margin-right: 0;
}
.ToWatchList-addMenu input {
  flex-basis: 90%;
}