.FilmItem {
  display: flex;
  margin-bottom: 10px;
}
.FilmItem > * {
  margin-right: 5px;
}
.FilmItem > *:last-child {
  margin-right: 0;
}

.FilmItem-input {
   flex-basis: 90%;
}

.FilmItem-removeBtn {
  margin-left: 10px;
  background-color: transparent;
  border: none;
  font-weight: bold;
  outline: none;
  cursor: pointer;
}
.FilmItem-removeBtn:active {
  transform: translate(1px, -1px);
}